/*
* @Author: Administrator
* @Date:   2018-08-08 09:20:01
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-16 19:13:55
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.top1{
	width: 7.5rem;
	height: 1rem;
	background: #67ccf1;
	position: relative;
}
.banner{
	width: 7.5rem;
	height: 4.02rem;
	background: white;
	position: relative;
}
.icon{
	width: 7.5rem;
	height: 4.01rem;
	background: white;
	padding:0 0.24rem;
}
.top1 p{
	float: left;
	font-size: 0.3rem;
	color: white;
	line-height: 1rem;
	margin-left: 0.48rem;
}
.top1 input{
	width: 4.92rem;
	height: 0.45rem;
	float: left;
	margin-top: 0.25rem;
	border-radius: 0.3rem;
	border: none;
	padding-left: 0.2rem;
	margin-left: 0.25rem;
	outline: none;
}
.top1 i{
	float: right;
	line-height: 1rem;
	height: 1rem;
	margin-right: 0.45rem;
	color: white;
	font-size: 0.4rem;
	text-align: center;
}
.top1 .iconfont1{
	color: #73d2f5;
	position: absolute;
	right: 0.9rem;
}
.banner img{
	height: 100%;
	width: 100%;
}
input::-webkit-input-placeholder{
	font-size: 0.2rem;
	color: #67ccf1;
}
.banner .dot{
	position: absolute;
	top: 3.16rem;
	left: 3.16rem;
}
.banner ul li{
	width: 0.1rem;
	height: 0.1rem;
	background: white;
	border-radius: 0.05rem;
	margin-right: 0.11rem;
	float: left;
}
.icon ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 0.25rem;
	background: white;
}
.icon ul li{
	display: flex;
	width: 1.13rem;
	height: 1.60rem;
	background: white;
	flex-direction: column;
	justify-content: center;
}
.icon ul li img{
	height: 1.15rem;
	width: 1.15rem;
}
.icon ul li span{
	font-size: 0.28rem;
	text-align: center;
	color: #0c0c0c;
}
.nice{
	width: 100%;
	height: 1.03rem;
}
.nice img{
	width: 100%;
	height: 100%;
}
.center{
	width: 100%;
	height: 3.29rem;
	background: white;
	padding: 0 0.24rem;
}
.center .cpit{
	width: 100%;
	height: 100%;
}
.center img{
	width: 100%;
	height: 100%;
}
.cvv{
	width: 100%;
	height: 0.87rem;
}
.cvv img{
	width: 100%;
	height: 100%;
}
.button{
	width: 100%;
	height: 0.93rem;
	background: white;
	padding: 0 0.24rem;

}
.button .box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.button .box a{
	display: block;
	width: 1.5rem;
	height: 0.5rem;
	border-radius: 0.2rem;
	color: black;
	font-size: 0.24rem;
	border: 0.05rem solid #73d2f5;
	font-size: 0.24rem;
	line-height: 0.4rem;
	text-align: center;
}
.list{
	width: 100%;
	height: 16.2rem;
	background: white;
	padding: 0rem 0.24rem 0 0.24rem;
	overflow: hidden;
}
.list ul li{
	width: 100%;
	height: 2.73rem;
	background: white;
	margin-top: 0.24rem;
	border-radius: 0.21rem;
	box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.1);
}
.list ul li:nth-child(5){
	margin-bottom: 1rem;
}
.list ul li .picture{
	height: 100%;
	width: 1.75rem;
	background: white;
	float: left;
	padding: 0.23rem 0 0.23rem 0.23rem;
	border-top-left-radius: 0.21rem;
	border-bottom-left-radius: 0.21rem;
}
.list ul li .picture img{
	width: 1.54rem;
	height: 2.28rem;
}
.list ul li .text{
	height: 2.73rem;
	width: 5.27rem;
	float: left;
	background: white;
	padding: 0.35rem 0 0 0.2rem;
	border-top-right-radius: 0.21rem;
	border-bottom-right-radius: 0.21rem;
	position: relative;
}
.list ul li .text h1{
	font-size: 0.36rem;
}
.list ul li .text p{
	font-size: 0.2rem;
}
.list ul li .text p i{
	font-size: 0.2rem;
}
.list ul li .text p span{
	font-size: 0.22rem;
	margin-left: 0.25rem;
}
.list ul li .text .qi{
	margin-top: 0.1rem;
	font-size: 0.22rem;
}
.list ul li .text .jian{
	margin-top: 0.1rem;
	display: flex;
	height: 0.39rem;
}
.list ul li .text .jian .tubiao{
	font-size: 0.22rem;
	height: 0.39rem;
	width: 0.69rem;
	border: 0.02rem solid #7879f5;
	text-align: center;
	line-height: 0.39rem;
	border-radius: 0.15rem;
}
.list ul li .text .jian span{
	font-size: 0.22rem;
	line-height: 0.39rem;
}
.list ul li .text .te{
	margin-top: 0.1rem;
	display: flex;
	height: 0.39rem;
}
.list ul li .text .te .tubiao{
	font-size: 0.22rem;
	height: 0.39rem;
	width: 0.69rem;
	border: 0.02rem solid #7879f5;
	text-align: center;
	line-height: 0.39rem;
	border-radius: 0.15rem;
}
.list ul li .text .te span{
	font-size: 0.22rem;
	line-height: 0.39rem;
}
.list ul li .text .position{
	width: 0.97rem;
	height: 0.38rem;
	border-radius: 0.2rem;
	background: #73d2f5;
	font-size: 0.22rem;
	color: white;
	text-align: center;
	line-height: 0.38rem;
	position: absolute;
	top: 0.37rem;
	right: 0.2rem;
}
.list ul li .text .time{
	font-size: 0.22rem;
	color: #7879f5;
	position: absolute;
	bottom: 0.2rem;
	right: 0.4rem;
}
.tab{
	background: white;
	width: 100%;
/* 	height: 1rem; */
	position: fixed;
	left: 0;
	bottom: 0;
	box-shadow:  0 -0.05rem 0.15rem 0.01rem rgba(0, 0, 0, 0.1);
}
.tab ul{
	display: flex;
	justify-content: space-around;
}
.tab ul li{
	float: left;
}
.tab ul li i{
	font-size: 0.7rem;
}
.tab ul li:nth-child(3) i{
	font-size: 0.75rem;
}
.tab ul li i:hover{
	color: #73d2f5;
}
a{
	color: black;
}