/*
* @Author: Administrator
* @Date:   2018-08-14 10:23:37
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-16 19:13:15
*/
a{
	color: white;
}
body{
	padding: 0 0.24rem;
	background: #79d5f7;
}
header{
	width: 100%;
	height: 2.22rem;
	background: #79d5f7;
	color: white;
	padding-top: 0.85rem;
	padding-left: 0.6rem;
	position: relative;
}
header p{
	font-size: 0.22rem;
}
header h4{
	font-size: 0.4rem;
	font-weight: normal;
}
header h3{
	font-size: 0.24rem;
	font-weight: normal;
}
header .icon-fanhui{
	position: absolute;
	top: 0.23rem;
	left: .33rem;
	font-size: 0.5rem;
}
header .icon-fenxiang{
	position: absolute;
	top: 0.23rem;
	right: .33rem;
	font-size: 0.4rem;
}
main{
	width: 100%;
	height: 1.82rem;
	border-radius: 0.10rem;
	background: white;
	margin-top: 0.24rem;
	padding: 0.3rem;
}
main .top{
	width: 100%;
	border-bottom: 0.03rem solid #eeeeee;
	overflow: hidden;
}
main .top .left{
	float: left;
	
}
main .top .left h3{
	font-size: 0.24rem;
	color: black;
	font-weight: normal;
}
main .top .left p{
	font-size: 0.18rem;
	color: #79d5f7;
}
main .top .right{
	float: right;
	font-size: 0.24rem;
	color: #79d5f7;
}
main .bottom{
	float: right;
	font-size: 0.24rem;
	color: #79d5f7;
	line-height: 0.9rem;
}
main .bottom i{
	font-size: 0.24rem;
	color: #474747;
}
footer{
	width: 100%;
	height: 8.4rem;
	background: white;
	border-radius: 0.1rem;
	margin-top: 0.24rem;
	padding: 0 0.3rem;
}
footer ul li{
	display: flex;
	justify-content: start;
	border-radius: 0.1rem;
	padding-left: 0.2rem;
}
footer ul li:nth-child(1){
	display: block;
	width: 100%;
	height: 1.4rem;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1.4rem;
	border-bottom: 0.03rem solid #eeeeee;
}
footer ul li:nth-child(5){
	background: #76d4f6;
}
footer ul li p{
	font-size: 0.34rem;
	line-height: 1.4rem;
	margin-left: 0.4rem;
}
footer ul li .p2{
	color: white;
}
footer ul li i{
	width: 0.9rem;
	height: 0.9rem;
	margin-top: 0.2rem;
}
footer ul li i img{
	width: 100%;
	height: 100%;
}
.a1{
	display: block;
	width: 100%;
	height: 1.4rem;
	position: fixed;
	left: 0;
	bottom: 1.95rem;
}
